module-name: warden
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/warden/operator:v20231222-48a12c63
  - europe-docker.pkg.dev/kyma-project/prod/warden/admission:v20231222-48a12c63
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
