module-name: warden
rc-tag: v0.5.1
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/warden/operator:v20230529-2de25d82
  - europe-docker.pkg.dev/kyma-project/prod/warden/admission:v20230529-2de25d82
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"