# this stub is created to allow the reconciler to track this/these resource(s). It should not be deleted. The actual content of this resource and managed and reconciled by the function-webhook.
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validation.webhook.warden.kyma-project.io
  labels:
    app: {{ .Values.global.name }}
    kyma-project.io/module: {{ .Values.global.name }}
    app.kubernetes.io/name: {{ .Values.global.name }}
    app.kubernetes.io/instance: {{ .Chart.Name }}-validating-webhook
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: {{ .Chart.Name }}
    app.kubernetes.io/part-of: {{ .Values.global.name }}
    app.kubernetes.io/managed-by: Helm
webhooks:
  - clientConfig:
      service:
        name: {{ .Chart.Name }}
        namespace: {{ .Release.Namespace }}
    failurePolicy: Ignore
    sideEffects: None
    matchPolicy: Exact
    timeoutSeconds: 1
    admissionReviewVersions: [ "v1beta1", "v1" ]
    name: validation.webhook.warden.kyma-project.io
    namespaceSelector:
      matchLabels:
        namespaces.warden.kyma-project.io/validate: enabled
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: defaulting.webhook.warden.kyma-project.io
  labels:
    app: {{ .Values.global.name }}
    kyma-project.io/module: {{ .Values.global.name }}
    app.kubernetes.io/name: {{ .Values.global.name }}
    app.kubernetes.io/instance: {{ .Chart.Name }}-mutating-webhook
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: {{ .Chart.Name }}
    app.kubernetes.io/part-of: {{ .Values.global.name }}
    app.kubernetes.io/managed-by: Helm
webhooks:
  - clientConfig:
      service:
        name: {{ .Chart.Name }}
        namespace: {{ .Release.Namespace }}
    failurePolicy: Ignore
    sideEffects: None
    matchPolicy: Exact
    timeoutSeconds: 10
    admissionReviewVersions: [ "v1beta1", "v1" ]
    name: defaulting.webhook.warden.kyma-project.io
    namespaceSelector:
      matchLabels:
        namespaces.warden.kyma-project.io/validate: enabled

