# Default values for warden.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
admission:
  enabled: false
operator:
  enabled: true
#Service configuration
global:
  name: warden
  wardenPriorityClassName: warden-priority
  wardenPriorityClassValue: 2000000
  operator:
    image: 'europe-docker.pkg.dev/kyma-project/prod/warden/operator:0.13.0'
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 300m
        memory: 160Mi
  admission:
    image: 'europe-docker.pkg.dev/kyma-project/prod/warden/admission:0.13.0'
    resources:
      requests:
        cpu: 10m
        memory: 50Mi
      limits:
        cpu: 300m
        memory: 300Mi
  config:
    dir: /workspace
    filename: config.yaml
    configmapName: warden-config
    data:
      notary:
        URL: "https://signing.repositories.cloud.sap"
        timeout: 30s
        # deprecated (still used by legacy installation mode via reconciler)
        allowedRegistries: ""
        # list of registries addresses commonly allowed across all environments
        defaultAllowedRegistries: []
        # list of registries exceptionally allowed ( overidable ) per environment
        additionalAllowedRegistries: []
      admission:
        timeout: 10s
        port: 8443
        strictMode: false
      operator:
        metricsBindAddress: "127.0.0.1:8080"
        healthProbeBindAddress: ":8081"
        leaderElect: true
        podReconcilerRequeueAfter: 60m
      logging:
        format: json
        level: info
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
#TODO: group k8s related settings under kubernetes?
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "warden-controller-manager"
service:
  type: ClusterIP
  port: 8443
resources:
  limits:
    cpu: 256m
    memory: 128Mi
  requests:
    cpu: 20m
    memory: 64Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
imageRenderer: {}
